<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>E010</key>
	<string>E_010.glif</string>
	<key>E011</key>
	<string>E_011.glif</string>
	<key>E013</key>
	<string>E_013.glif</string>
	<key>E014</key>
	<string>E_014.glif</string>
	<key>E015</key>
	<string>E_015.glif</string>
	<key>E017</key>
	<string>E_017.glif</string>
</dict>
</plist>
